/* Navigation */
#navbar {
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Home section */
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 13px;
}

/* About us section */
#about .row{
    display: flex;
    flex-direction: column;
}

#about .col{
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

#about p{
    font-size: 1rem;
}
/* Services section  */
#services{
    flex-direction: column;
}

#services .card { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 18px;
    padding: 4px 8px;
}

.font-default{
    font-size: 23px;
}
